<div class="container" style="display: block; width:550px;margin:0 auto;">
  <h1 style="text-align:center;">Account Login</h1>
  <form action="/check">
    <div style="text-align:center; ">
      <input type="text" name="email" placeholder="Email" style="margin: 5px" required>
    </div>
    <div style="text-align:center;">
      <input type="text" style="margin: 5px" name="password" placeholder="Password" required>
    </div>
    <div style="text-align:center;">
      <button style="margin: 5px;" type="submit">Sing in</button>
    </div>
  </form>
</div>